<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @student, partial: "card", as: :student %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "students/student_submissions" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "students/student_gradings" %>
  </div>
</div>
